.compare-page-component{
    width: 100%;
    .compare-page-component-container{
        height: 100%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
        .compare-page-component-items{
            width: 100%;
            .compare-page-component-items-title{
                text-align: center;
            }
            .compare-page-component-items-container{
                display: flex;
                flex-direction: column;
                gap: 50px;
                .compare-page-component-items-top-container{
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    overflow-x: auto;
                    scroll-behavior: smooth;
                    scrollbar-width: thin;               
                    scrollbar-color: #ccc transparent;
                    gap: 20px;
                    .compare-page-component-items-top{
                        flex: 0 0 31%;                    
                        max-width: 31%;
                        min-width: 300px;                 
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        padding-bottom: 40px;
                        position: relative;

                        .compare-page-component-items-title{
                            padding-bottom: 40px;
                            h4{
    
                            }
                        }
                        .compare-page-component-items-thumbnail{
                            img{
                                width: 100%;
                                height: 200px;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .compare-page-component-items-price{
                    h2{
                        text-align: center;
                    }
                    .compare-page-component-items-price-container{
                        display: flex;
                        gap: 50px;
                        padding: 10px;
                        align-items: center;
                        .compare-page-component-items-price-title{
                            
                            h4{
                                margin-bottom: 0;
                            }
                        }

                        .compare-page-component-items-price-nominal{
                            display: flex;
                            text-align: center;
                            align-items: center;
                            gap: 20px;
                            h4{
                                font-weight: 400;
                                margin-bottom: 0;
                                text-align: center;
                                align-items: center;
                            }
                            .price-tag{
                                background: gray;
                                border-radius: 50px;
                                padding: 8px 40px;
                                

                            }
                            .price-tag.cheapest{
                                background: #228B22;
                                color: #F8F8FF;
                            }
                            .price-tag.expensive{
                                background: #FF4500;
                                color: #F8F8FF;
                            }
                            svg{
                                width: 25px;
                                height: 25px;
                                padding-right: 10px;
                            }
                        }
                    }
                }

                .compare-page-component-items-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 20px;
                    .compare-page-component-items-column-2 {
                        flex: 1 1 0; 
                        max-width: 45%;
                        min-width: 250px;
                        .compare-page-component-items-column-title{
                            text-align: center;
                        }
                        .compare-page-component-items-content {
                            display: flex;
                            flex-direction: column;

                            .compare-page-component-items-content-image {
                                width: 100%; 
                                height: 200px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .compare-page-component-items-content-name {
                                h4 {
                                    
                                }
                            }

                            .compare-page-component-items-content-image-description {
                                p {
                                    
                                }
                            }
                        }
                    }
                    .compare-page-component-items-column-3 {
                        flex: 1 1 0; 
                        max-width: 33%;
                        min-width: 250px;
                        .compare-page-component-items-column-title{
                            text-align: center;
                        }
                        .compare-page-component-items-content {
                            display: flex;
                            flex-direction: column;

                            .compare-page-component-items-content-image {
                                width: 100%; 
                                height: 200px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .compare-page-component-items-content-name {
                                h4 {
                                    
                                }
                            }

                            .compare-page-component-items-content-image-description {
                                p {
                                    
                                }
                            }
                        }
                    }
                }

                .compare-specification-container {
                    display: flex;

                    .spec-categories {
                        flex: 0 0 200px;
                        display: flex;
                        flex-direction: column;
                        

                        .spec-category-item {
                            padding: 12px 16px;
                            cursor: pointer;
                            border: 1px solid #f5f5f5;
                            

                            &.active {
                                background: #007bff;
                                color: white;
                                font-weight: bold;
                            }

                            &:hover {
                                background: #e0e0e0;
                            }
                        }
                    }

                    .spec-details {
                        flex: 1; // take remaining width
                        display: flex;
                        .spec-car-column {
                            flex: 1;
                            padding: 16px;
                            border: 1px solid #f5f5f5;

                            h4 {
                                margin-bottom: 12px;
                                text-align: center;
                            }

                            .spec-field {
                                display: flex;
                                justify-content: space-between;
                                padding: 4px 0;
                                border-bottom: 1px solid #eee;
                            }
                        }
                    }
                }

            }
        }
    }
}