
.dealerprofile-container{

    .dealerprofile-modal-button{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .dealerprofile-detail-container{

        .dealerprofile-detail-name{

        }

        .dealerprofile-detail-image{

            img{

            }
        }

        .dealerprofile-detail-credentials{

            .dealerprofile-detail-address{

            }

            .dealerprofile-detail-instagram-link{

            }

            .dealerprofile-detail-whatsapp-link{

            }

            .dealerprofile-detail-whatsapp-brand{

            }
        }
    }

    .dealerprofile-detail-cars-container{

    }
}