.welcome-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    max-height: 600px;
    width: 100%;
    margin: 40px 0;
    background-color: #778899;
    
    
    .welcome-title{
        z-index: 2;
        h2{

        }
    }
    .welcome-description{
        width: 40%;
        z-index: 2;
        p{
            text-align: justify;
        }
    }
    .welcome-icon{
        position: absolute;
        z-index: 0;
        left: 0;
        img{
            width: 400px;
        }
    }
}